body {
  padding-top: 86px;
  font-family: "Comfortaa";
}
.gradient {
  background: rgb(30, 39, 46);
  background: linear-gradient(135deg, rgba(248, 249, 250, 1) 0%, #f1c40f 100%);
}
.features ul li {
  font-size: 1.5rem;
}
.icons .icon {
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 5rem;
}
.gallery {
  background-color: rgb(237, 237, 237);
}
.form-control:focus {
  border-color: #343a4066 !important;
  box-shadow: 0 0 0 0.25rem #343a4015 !important;
}
.form-control {
  resize: none;
}
footer {
  font-family: "Amatic SC";
  font-size: 40px;
  letter-spacing: 5px;
}
footer span {
  color: #f1c40f;
}
footer ion-icon {
  position: relative;
  font-size: 40px;
  top: 7px;
}
